<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--Gdc.Scd.Export.Sap-->
    <add key="SapFileName" value="PRSCOSTS" />
    <add key="ExportDirectory" value="E:\NonWebApplications\GDCSupport\ScdSpooler\ExportSapFiles\" />
    <add key="ExportHost" value="paii82.g02.fujitsu.local" />
    <add key="Admission" value="datenvomSCPT" />
    <add key="ExportType" value="" />
    <add key="BiSessionName" value="ZVKONSCD2SAP" />
    <add key="Client" value="020" />
    <add key="CpicUser" value="   MCP0126" />
    <add key="SapTransactionName" value="VK15" />
    <add key="App" value="V" />
    <add key="PriceUnit" value="1   PC" />
    <add key="HwZBTClist" value="ZWAS,ZWHS" />
    <add key="HwZPWAlist" value="ZDWA,ZDWH,ZIMH,ZIOH" />
    <add key="FileHeader" value="0[BiSessionName][Client][CpicUser]/       //" />
    <add key="FileLine1" value="1[SapTransactionName]                {SapTable}[App] {CostCondition}" />
    <add key="FileLine2" value="2{VariableKey}{ValidTo}{ValidFrom}{Price} {CurrencyName}     [PriceUnit]                                       " />
    <add key="SapDBUser" value="g02\sapUploadUser" />
    <add key="RegExpConfig" value="(?&lt;=\[)[^]]*(?=\])" />
    <add key="RegExpClass" value="(?&lt;=\{)[^}]*(?=\})" />
  </appSettings>
  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
      <from name="[Export.Sap Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="venera.faizullina.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="SCD 2.0" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>
  <connectionStrings>
    <!--<add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <add name="CommonDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCD_2;Trusted_Connection=True;" />
    <!--<add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>