<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- SAP File config -->
    <add key="SapFileName" value="PRSCOSTS" />
    <add key="ExportDirectory" value="E:\NonWebApplications\GDCSupport\SCD\SapExport\data\out\"/>
    <add key="ExportHost" value="paii82.g02.fujitsu.local"/>
    <add key="Admission" value="datenvomSCPT"/>
  </appSettings>
  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
      <from name="[Export.Sap Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="venera.faizullina.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="SCD 2.0" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>
  <connectionStrings>
    <!--<add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <add name="CommonDB" connectionString="Data Source=(local)\mssqlserver2;Initial Catalog=Scd_2_live;Trusted_Connection=True;" />
    <!--<add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>