<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
    <add name="ScdEntities" connectionString="metadata=res://*/Model.ScdContext.csdl|res://*/Model.ScdContext.ssdl|res://*/Model.ScdContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Scd_2_7;Integrated Security=SSPI;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>