/.vs
*/obj
*/bin
Gdc.Scd.Web.Api/wwwroot

/Gdc.Scd.Web.Client/node_modules/@extjs/sencha-cmd/repo/.sencha/repo/remotes/sencha/sencha.cfg
/Gdc.Scd.Web.Client/node_modules/@extjs/sencha-cmd/repo/.sencha/repo/remotes/sencha-beta/sencha.cfg
/Gdc.Scd.Web.Client/node_modules/@extjs/sencha-cmd/repo/pkgs/catalog.json
