IF OBJECT_ID('Report.spLocapGlobalSupport') IS NOT NULL
  DROP PROCEDURE Report.spLocapGlobalSupport;
go 

CREATE PROCEDURE [Report].[spLocapGlobalSupport]
(
    @cnt     dbo.ListID readonly,
    @wg      dbo.ListID readonly,
    @av      dbo.ListID readonly,
    @dur     dbo.ListID readonly,
    @rtime   dbo.ListID readonly,
    @rtype   dbo.ListID readonly,
    @loc     dbo.ListID readonly,
    @pro     dbo.ListID readonly,
    @lastid  int,
    @limit   int
)
AS
BEGIN

    declare @sla Portfolio.Sla;
    insert into @sla select * from Portfolio.GetBySlaFspPaging(@cnt, @wg, @av, @dur, @rtime, @rtype, @loc, @pro, @lastid, @limit) m

    select    c.Country
            , cnt.ISO3CountryCode
            , c.Fsp
            , c.FspDescription

            , sog.SogDescription
            , sog.Sog        

            , c.ServiceLocation
            , c.ReactionTime + ' ' + c.ReactionType + ' time, ' + c.Availability as ReactionTime
            , c.Year as ServicePeriod
            , LOWER(c.Duration) + ' ' + c.ServiceLocation as ServiceProduct

            , c.LocalServiceStandardWarranty
            , coalesce(ServiceTPManual, ServiceTP) ServiceTP
            , c.DealerPrice
            , c.ListPrice

    from Hardware.GetCostsSla(1, @sla) c
    inner join InputAtoms.Country cnt on cnt.id = c.CountryId
    inner join InputAtoms.WgSogView sog on sog.Id = c.WgId

END
GO

declare @reportId bigint = (select Id from Report.Report where upper(Name) = ('Locap-Global-Support'));
declare @index int = 0;

delete from Report.ReportColumn where ReportId = @reportId;

set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'Country', 'Country Name', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'FspDescription', 'Portfolio Alignment', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'Fsp', 'Product_No', 1, 1);
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = 0;
delete from Report.ReportFilter where ReportId = @reportId;

set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('country'         , 1), 'cnt', 'Country Name');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('wg'              , 1), 'wg', 'Warranty Group');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('availability'    , 1), 'av', 'Availability');
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

GO

