<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="Fujitsu.GDC.ErrorNotification">
          <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
      </sectionGroup>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <appSettings>
        <add key="JobPath" value="JobLibraries" />
    </appSettings>
    <Fujitsu.GDC.ErrorNotification>
        <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
            <from name="[SCD Import Exchange Rates Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
            <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
            <live to="WAS_Eventlog@ts.fujitsu.com" />
            <application name="SCD" product="Import EXCHANGE RATES" loglevel="warning,error" />
        </mailNotification>
    </Fujitsu.GDC.ErrorNotification>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=Scd_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=abgisdb05a.abg.fsc.net;initial catalog=Scd_2;User ID=SCDadmin;Password=pD8a!fw_d;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <!--<add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=abgisdb01a.abg.fsc.net;initial catalog=Scd_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>