<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="Fujitsu.GDC.ErrorNotification">
          <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
      </sectionGroup>
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <appSettings>
    <!--Gdc.Scd.Export.ArchiveResultSenderJob-->
    <add key="mailTo" value="evgenia.borisova.gdc@ts.fujitsu.com;ekaterina.churikova.gdc@ts.fujitsu.com" />
    <add key="mailFrom" value="scd-noreply@ts.fujitsu.com" />
    <add key="scdArchiveFolder" value="\\fsc.net\DFSRoot\PDB\Groups\Service_cost_db\SCD 2.0 - archives" />
    <add key="dateFormat" value="yyyy-MM-dd" />

    <!--Gdc.Scd.Export.CdCsJob-->
    <!-- CD CS tool config -->
    <add key="SpServiceDomain" value="g02" />
    <add key="SpServiceAccount" value="scd_admin" />
    <add key="SpServicePassword" value="@S1mS1mP@$$" />
    <add key="CalculationToolWeb" value="https://emeia.fujitsu.local/02/sites/p/ServiceCostDatabase/CentralUpdate" />
    <add key="CalculationToolList" value="Shared Documents" />
    <add key="CalculationToolFolder" value="/02/sites/p/ServiceCostDatabase/CentralUpdate/Shared%20Documents" />
    <add key="CalculationToolFileName" value="CD_CS_Master File_SCD 2.0.xlsx" />
    <add key="ProActiveWgList" value="CD3,CD7,CS1,CS2,CS3,CS4" />

    <!--Gdc.Scd.Import.CentralContractGroup-->
    <add key="Culture" value="de-DE" />
    <add key="Delimeter" value=";" />
    <add key="FileName" value="Central Contract Group to WG.csv" />
    <add key="FilePath" value="C:\Users\BorisovaE\Desktop" />
    <add key="ProcessedFilesPath" value="C:\Users\BorisovaE\Desktop\processed" />
    <add key="HasHeader" value="true" />
    <add key="Occurancy" value="0" />

    <!--Gdc.Scd.Import.Ebis.InstallBase-->
    <add key="CentralEuropeRegion" value="Central Europe" />
    <add key="CountryMatch" value="Luxembourg-Belgium" />

    <!--Gdc.Scd.Import.Ebis.MCiW-->
    <add key="Region" value="EMEIA" />
    <add key="Year" value="5" />

    <!--Gdc.Scd.Import.Por-->
    <add key="HWServiceTypes" value="HW B&amp;F Service;HW B&amp;F Service Prolongation" />
    <add key="ProActiveTypes" value="HW Proactive Service;HW Proactive Service Prolongation" />
    <add key="StandardWarrantyTypes" value="Standard Warranty" />
    <add key="HwHddServiceType" value="HDD Retention Service" />
    <add key="SoftwareTypes" value="Software/Solution Support Service;Software/Solution Support Service Prolongation;Solution Support Service;Solution Support Service Prolongation" />
    <add key="SolutionIdentifier" value="SOL" />
  </appSettings>

  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
      <from name="[Spooler] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Spooler" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <connectionStrings>
    <!--<add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=Scd_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=abgisdb05a.abg.fsc.net;initial catalog=Scd_2;User ID=SCDadmin;Password=pD8a!fw_d;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=abgisdb01a.abg.fsc.net;initial catalog=Scd_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <!--<add name="CommonDB" connectionString="data source=intranetdb1;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->

    <!--Local-->
    <add name="Scd_2Entities" connectionString="metadata=res://*/ScdDb.csdl|res://*/ScdDb.ssdl|res://*/ScdDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCD_2;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CommonDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCD_2;Integrated Security=True;" />

    <!--Gdc.Scd.Import.Por-->
    <add name="FrieseEntities" connectionString="metadata=res://*/DataAccessLayer.FrieseModel.csdl|res://*/DataAccessLayer.FrieseModel.ssdl|res://*/DataAccessLayer.FrieseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G02DEDB02CSQLI.g02.fujitsu.local;initial catalog=friese;persist security info=True;user id=SCD_user;password=scd1scd*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Gdc.Scd.Import.CentralContractGroup-->
    <add name="Partner_New" connectionString="Data Source=g02dedb02sadb.g02.fujitsu.local;Network Library=DBMSSOCN;User ID=SPDB_SAPImport;password=&quot;SPDB1=sap&quot;;Initial Catalog=Partner_New;Connect Timeout=30" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>