<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="mail.fsc.net" mode="test">
      <from name="[SCD Import MATERIAL COST Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Import MATERIAL COST" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>

  <appSettings>
    <add key="Region" value="EMEIA" />
    <add key="Year" value="5" />
  </appSettings>
  
  <connectionStrings>
    <add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2_1;Trusted_Connection=True;" />
    <!--<add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>