USE [Scd_2]
GO
/****** Object:  UserDefinedFunction [Report].[Locap]    Script Date: 20.02.2019 16:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('Report.GetReportColumnTypeByName') IS NOT NULL
  DROP FUNCTION Report.GetReportColumnTypeByName;
go 

CREATE FUNCTION Report.GetReportColumnTypeByName
(
    @name nvarchar(max)
)
RETURNS bigint 
AS
BEGIN
	DECLARE @Id bigint
    select @Id=id from Report.ReportColumnType where Name=@name
	RETURN @Id
END
GO

IF OBJECT_ID('Report.GetReportFilterTypeByName') IS NOT NULL
  DROP FUNCTION Report.GetReportFilterTypeByName;
go 

CREATE FUNCTION Report.GetReportFilterTypeByName
(
    @name nvarchar(max),
	@multi bit
)
RETURNS bigint 
AS
BEGIN
	DECLARE @Id bigint
    select @Id= id from Report.ReportFilterType where MultiSelect = @multi and name = @name
	RETURN @Id
END
GO

-----------------------------------------------------------

IF OBJECT_ID('Report.Locap') IS NOT NULL
  DROP FUNCTION Report.Locap;
go 

CREATE FUNCTION [Report].[Locap]
(
    @cnt bigint,
    @wg bigint,
    @av bigint,
    @dur bigint,
    @reactiontime bigint,
    @reactiontype bigint,
    @loc bigint,
    @pro bigint
)
RETURNS TABLE 
AS
RETURN (
    select m.Id
         , m.Fsp
         , wg.Description as WgDescription
         , m.FspDescription as ServiceLevel

         , m.ReactionTime
         , m.Year as ServicePeriod
         , wg.Name as Wg

         , m.LocalServiceStandardWarranty * er.Value as LocalServiceStandardWarranty
         , m.ServiceTC * er.Value as ServiceTC
         , m.ServiceTP_Released  * er.Value as ServiceTP_Released
		 , cur.Name as Currency
         
		 , m.Country
         , m.Availability                       + ', ' +
               m.ReactionType                   + ', ' +
               m.ReactionTime                   + ', ' +
               cast(m.Year as nvarchar(1))      + ', ' +
               m.ServiceLocation                + ', ' +
               m.ProActiveSla as ServiceType

         , null as PlausiCheck
         , null as PortfolioType
         , null as ReleaseCreated
         , wg.Sog
    from Report.GetCosts(@cnt, @wg, @av, @dur, @reactiontime, @reactiontype, @loc, @pro) m
    join InputAtoms.WgSogView wg on wg.id = m.WgId
	join InputAtoms.Country cnt on cnt.id = @cnt
	join [References].Currency cur on cur.Id = cnt.CurrencyId
	join [References].ExchangeRate er on er.CurrencyId = cur.Id
)
GO

declare @reportId bigint = (select Id from Report.Report where Name = 'Locap');
declare @index int = 0;

delete from Report.ReportColumn where ReportId = @reportId;
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'Fsp', 'Product_No', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'WgDescription', 'Warranty Group Name', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, Report.GetReportColumnTypeByName('text'), 'ServiceLevel', 'Service Level', 1, 1);
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = 0;
delete from Report.ReportFilter where ReportId = @reportId;
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('country', 0), 'cnt', 'Country Name');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('wg', 0), 'wg', 'Warranty Group');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, Report.GetReportFilterTypeByName('availability', 0), 'av', 'Availability');
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

--------------------------------------------------------------

IF OBJECT_ID('Report.LocapDetailed') IS NOT NULL
  DROP FUNCTION Report.LocapDetailed;
go 

CREATE FUNCTION Report.LocapDetailed
(
    @cnt bigint,
    @wg bigint,
    @av bigint,
    @dur bigint,
    @reactiontime bigint,
    @reactiontype bigint,
    @loc bigint,
    @pro bigint
)
RETURNS TABLE 
AS
RETURN (
select     m.Id
         , m.Fsp
         , wg.Description as WgDescription
         , wg.Name as Wg
         , wg.SogDescription as SogDescription
         , m.ServiceLocation as ServiceLevel
         , m.ReactionTime
         , m.Year as ServicePeriod
         , wg.Sog as Sog
         , m.ProActiveSla
		 , m.Country

         , m.ServiceTC * er.Value as ServiceTC
         , m.ServiceTP_Released * er.Value as ServiceTP_Released
         , m.ListPrice * er.Value as ListPrice
         , m.DealerPrice * er.Value as DealerPrice
         , m.FieldServiceCost * er.Value as FieldServiceCost
         , m.ServiceSupportCost * er.Value as ServiceSupportCost 
         , m.MaterialOow * er.Value as MaterialOow
         , m.MaterialW * er.Value as MaterialW
         , m.TaxAndDutiesW * er.Value as TaxAndDutiesW
         , m.Logistic * er.Value as LogisticW
         , m.Logistic * er.Value as LogisticOow
         , m.Reinsurance * er.Value as Reinsurance
         , m.Reinsurance * er.Value as ReinsuranceOow
         , m.OtherDirect * er.Value as OtherDirect
         , m.Credits * er.Value as Credits
         , m.LocalServiceStandardWarranty * er.Value as LocalServiceStandardWarranty
         , cur.Name as Currency

		 , null as IndirectCostOpex
         , m.Availability                       + ', ' +
               m.ReactionType                   + ', ' +
               m.ReactionTime                   + ', ' +
               cast(m.Year as nvarchar(1))      + ', ' +
               m.ServiceLocation                + ', ' +
               m.ProActiveSla as ServiceType
         
         , null as PlausiCheck
         , null as PortfolioType
    from Report.GetCosts(@cnt, @wg, @av, @dur, @reactiontime, @reactiontype, @loc, @pro) m
    join InputAtoms.WgSogView wg on wg.id = m.WgId
	join InputAtoms.Country cnt on cnt.id = @cnt
	join [References].Currency cur on cur.Id = cnt.CurrencyId
	join [References].ExchangeRate er on er.CurrencyId = cur.Id
)

GO

declare @reportId bigint = (select Id from Report.Report where upper(Name) = 'LOCAP-DETAILED');
declare @index int = 0;

delete from Report.ReportColumn where ReportId = @reportId;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = 0;
delete from Report.ReportFilter where ReportId = @reportId;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
GO