IF OBJECT_ID('Report.HwCalcResult') IS NOT NULL
  DROP FUNCTION Report.HwCalcResult;
go 

CREATE FUNCTION Report.HwCalcResult
(
    @approved bit,
    @local bit,
    @country         dbo.ListID readonly,
    @fsp             nvarchar(255),
    @hasFsp          bit,
    @wg              dbo.ListID readonly,
    @availability    dbo.ListID readonly,
    @duration        dbo.ListID readonly,
    @reactiontime    dbo.ListID readonly,
    @reactiontype    dbo.ListID readonly,
    @servicelocation dbo.ListID readonly,
    @proactive       dbo.ListID readonly
)
RETURNS TABLE 
AS
RETURN (
    select    Country
            , case when @local = 1 then Currency else 'EUR' end as Currency

            , costs.Fsp

            , Sog as SOG
            , Wg
            , Availability
            , Duration
            , ReactionTime
            , ReactionType
            , ServiceLocation
            , ProActiveSla

            , StdWarranty
            , StdWarrantyLocation

            --Cost

            , case when @local = 1 then AvailabilityFee * costs.ExchangeRate else AvailabilityFee end as AvailabilityFee 
            , case when @local = 1 then TaxAndDutiesW * costs.ExchangeRate else TaxAndDutiesW end as TaxAndDutiesW
            , case when @local = 1 then TaxAndDutiesOow * costs.ExchangeRate else TaxAndDutiesOow end as TaxAndDutiesOow
            , case when @local = 1 then Reinsurance * costs.ExchangeRate else Reinsurance end as Reinsurance

            , case when @local = 1 then ReActiveTC * costs.ExchangeRate else ReActiveTC end as ReActiveTC
            , case when @local = 1 then ReActiveTP * costs.ExchangeRate else ReActiveTP end as ReActiveTP
            , case when @local = 1 then ReActiveTPManual * costs.ExchangeRate else ReActiveTPManual end as ReActiveTPManual
            , case when @local = 1 then ProActive * costs.ExchangeRate else ProActive end as ProActive

            , case when @local = 1 then ServiceSupportCost * costs.ExchangeRate else ServiceSupportCost end as ServiceSupportCost
                                                          
            , case when @local = 1 then MaterialW * costs.ExchangeRate else MaterialW end as MaterialW
            , case when @local = 1 then MaterialOow * costs.ExchangeRate else MaterialOow end as MaterialOow
            , case when @local = 1 then FieldServiceCost * costs.ExchangeRate else FieldServiceCost end as FieldServiceCost
            , case when @local = 1 then Logistic * costs.ExchangeRate else Logistic end as Logistic
            , case when @local = 1 then OtherDirect * costs.ExchangeRate else OtherDirect end as OtherDirect
            , case when @local = 1 then costs.ExchangeRate else 1 end * coalesce(LocalServiceStandardWarrantyManual, LocalServiceStandardWarranty) as LocalServiceStandardWarranty
            , case when @local = 1 then LocalServiceStandardWarrantyWithRisk * costs.ExchangeRate else LocalServiceStandardWarrantyWithRisk end as LocalServiceStandardWarrantyWithRisk
            , case when @local = 1 then Credits * costs.ExchangeRate else Credits end as Credits
            
            , case when @local = 1 then FullServiceTC * costs.ExchangeRate else FullServiceTC end as ServiceTC
            , case when @local = 1 then FullServiceTP * costs.ExchangeRate else FullServiceTP end as ServiceTP
                                                          
            , case when @local = 1 then ServiceTCManual * costs.ExchangeRate else ServiceTCManual end as ServiceTCManual
            , case when @local = 1 then ServiceTPManual * costs.ExchangeRate else ServiceTPManual end as ServiceTPManual
                                                          
            , case when @local = 1 then ServiceTP_Released * costs.ExchangeRate else ServiceTP_Released end as ServiceTP_Released

            , case when @local = 1 then ListPrice * costs.ExchangeRate else ListPrice end as ListPrice
            , case when @local = 1 then DealerPrice * costs.ExchangeRate else DealerPrice end as DealerPrice
            , DealerDiscount                               as DealerDiscount
                                                           
            , ChangeUserName + '[' + ChangeUserEmail + ']' as ChangeUser
            , ChangeDate
            
            , ReleaseUserName + '[' + ReleaseUserEmail + ']' as ReleaseUser
            , ReleaseDate

    from Hardware.GetCosts2(@approved, @country, @fsp, @hasFsp, @wg, @availability, @duration, @reactiontime, @reactiontype, @servicelocation, @proactive, -1, -1) costs
)

GO

declare @reportId bigint = (select Id from Report.Report where upper(Name) = 'HW-CALC-RESULT');
declare @index int = 0;

delete from Report.ReportColumn where ReportId = @reportId;

declare @money bigint;
select @money = id from Report.ReportColumnType where upper(name) = 'MONEY';

set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, 1, 'Country', 'Country', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, 1, 'Fsp', 'FSP code', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, 1, 'SOG', 'SOG', 1, 1);
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = @index + 1;
set @index = @index + 1;

set @index = @index + 1;
set @index = @index + 1;


set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;


set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;


------------------------------------
set @index = 0;
delete from Report.ReportFilter where ReportId = @reportId;
declare @filterTypeId bigint = 0

set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select Id from Report.ReportFilterType where Name = 'boolean'), 'approved', 'Approved');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select Id from Report.ReportFilterType where Name = 'boolean'), 'local', 'Local currency');

set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select Id from Report.ReportFilterType where Name = 'country' and MultiSelect=1), 'country', 'Country');

set @index = @index + 1;

set @index = @index + 1;


set @index = @index + 1;

set @index = @index + 1;

set @index = @index + 1;

set @index = @index + 1;

set @index = @index + 1;

set @index = @index + 1;

set @index = @index + 1;



