IF OBJECT_ID('Report.spLocapGlobalSupport') IS NOT NULL
  DROP PROCEDURE Report.spLocapGlobalSupport;
go 

CREATE PROCEDURE [Report].[spLocapGlobalSupport]
(
    @cnt     dbo.ListID readonly,
    @wg      dbo.ListID readonly,
    @av      dbo.ListID readonly,
    @dur     dbo.ListID readonly,
    @rtime   dbo.ListID readonly,
    @rtype   dbo.ListID readonly,
    @loc     dbo.ListID readonly,
    @pro     dbo.ListID readonly,
    @lastid  bigint,
    @limit   int,
    @total   int output
)
AS
BEGIN

    select @total = count(id) from Portfolio.GetBySlaFsp(@cnt, @wg, @av, @dur, @rtime, @rtype, @loc, @pro);

    declare @sla Portfolio.Sla;
    insert into @sla select * from Portfolio.GetBySlaFspPaging(@cnt, @wg, @av, @dur, @rtime, @rtype, @loc, @pro, @lastid, @limit) m

    select    c.Country
            , cnt.ISO3CountryCode
            , c.Fsp
            , c.FspDescription

            , sog.Description as SogDescription
            , sog.Name        as Sog

            , c.ServiceLocation
            , c.ReactionTime + ' ' + c.ReactionType + ' time, ' + c.Availability as ReactionTime
            , c.Year as ServicePeriod
            , LOWER(c.Duration) + ' ' + c.ServiceLocation as ServiceProduct

            , c.LocalServiceStandardWarranty
            , coalesce(ServiceTPManual, ServiceTP) ServiceTP
            , c.DealerPrice
            , c.ListPrice

    from Hardware.GetCostsSla(1, @sla) c
    inner join InputAtoms.Country cnt on cnt.id = c.CountryId
    inner join InputAtoms.WgSogView sog on sog.Id = c.WgId

END

go

declare @reportId bigint = (select Id from Report.Report where upper(Name) = ('Locap-Global-Support'));
declare @index int = 0;

delete from Report.ReportColumn where ReportId = @reportId;
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, (select id from Report.ReportColumnType where name = 'text'), 'Fsp', 'Product_No', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, (select id from Report.ReportColumnType where name = 'text'), 'WgDescription', 'Warranty Group Name', 1, 1);
set @index = @index + 1;
insert into Report.ReportColumn(ReportId, [Index], TypeId, Name, Text, AllowNull, Flex) values(@reportId, @index, (select id from Report.ReportColumnType where name = 'text'), 'ServiceLevel', 'Service Level', 1, 1);
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

set @index = 0;
delete from Report.ReportFilter where ReportId = @reportId;


set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select id from Report.ReportFilterType where MultiSelect = 1 and name ='country'         ), 'cnt', 'Country Name');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select id from Report.ReportFilterType where MultiSelect = 1 and name ='wg'              ), 'wg', 'Warranty Group');
set @index = @index + 1;
insert into Report.ReportFilter(ReportId, [Index], TypeId, Name, Text) values(@reportId, @index, (select id from Report.ReportFilterType where MultiSelect = 1 and name ='availability'    ), 'av', 'Availability');
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;
set @index = @index + 1;

GO

