<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="copyDetailsConfig" type="Gdc.Scd.CopyDataTool.Configuration.CopyDetailsConfig, Gdc.Scd.CopyDataTool" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SourceDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCD_2;Integrated Security=True;" />
    <add name="CommonDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SCD_2;Integrated Security=True;" />
      
    <!--<add name="SourceDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
      
    <!--<add name="SourceDB" connectionString="Data Source=abgisdb01a.abg.fsc.net;Initial Catalog=Scd_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <!--<add name="CommonDB" connectionString="data source=10.10.154.195;initial catalog=SCD_2_test;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb05a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
    
  <!--<copyDetailsConfig editUser="G02\RizvanovTExt" country="Australia" targetCountry="New Zealand" copyManualCosts="true">-->
  <!--<copyDetailsConfig editUser="G02\VIEMKipf" country="Austria" copyManualCosts="true" exludedWgs="S65">-->
  <copyDetailsConfig editUser="G02\RizvanovTExt" country="Australia" targetCountry="New Zealand" copyManualCosts="true" copyCostBlocks="true">
    <costBlocks>
      <!--<add name="ServiceSupportCost" scheme="Hardware" />
      <add name="FieldServiceCost" />
      <add name="LogisticsCosts" />
      <add name="AvailabilityFee" />
      <add name="MarkupOtherCosts" />
      <add name="ProlongationMarkup" />
      <add name="MarkupStandardWaranty" />
      <add name="RoleCodeHourlyRates" />
      <add name="ProActive" />
      <add name="ProActiveSw" scheme="SoftwareSolution"/>-->
    </costBlocks>
    <excludedCostElements>
      <!--<add name="RepairTime" costBlock="FieldServiceCost" />
      <add name="CentralExecutionShcReportCost" costBlock="ProActive" />
      <add name="CostPerKit" costBlock="AvailabilityFee" />
      <add name="CostPerKitJapanBuy" costBlock="AvailabilityFee" />
      <add name="MaxQty" costBlock="AvailabilityFee" />-->
    </excludedCostElements>
  </copyDetailsConfig>
</configuration>