<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="mail.fsc.net" mode="test">
      <from name="[SCD Import Exchange Rates Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Import EXCHANGE RATES" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>

  <connectionStrings>
    <add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>