<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
      <from name="[SCD Import ARCHIVE RESULT SENDER Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Export ARCHIVE RESULT" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="mailTo" value="evgenia.borisova.gdc@ts.fujitsu.com;ekaterina.churikova.gdc@ts.fujitsu.com" />
    <add key="mailFrom" value="scd-noreply@ts.fujitsu.com" />
    <add key="scdArchiveFolder" value="\\fsc.net\DFSRoot\PDB\Groups\Service_cost_db\SCD 2.0 - archives" />
    <add key="dateFormat" value="yyyy-MM-dd" />
  </appSettings>
</configuration>