/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-wc::before {
    content: 'wc';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-wifi::before {
    content: 'wifi';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-ac-unit::before {
    content: 'ac_unit';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-airport-shuttle::before {
    content: 'airport_shuttle';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-all-inclusive::before {
    content: 'all_inclusive';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-beach-access::before {
    content: 'beach_access';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-business-center::before {
    content: 'business_center';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-casino::before {
    content: 'casino';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-child-care::before {
    content: 'child_care';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-child-friendly::before {
    content: 'child_friendly';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-fitness-center::before {
    content: 'fitness_center';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-free-breakfast::before {
    content: 'free_breakfast';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-golf-course::before {
    content: 'golf_course';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-hot-tub::before {
    content: 'hot_tub';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-kitchen::before {
    content: 'kitchen';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-pool::before {
    content: 'pool';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-room-service::before {
    content: 'room_service';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-rv-hookup::before {
    content: 'rv_hookup';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-smoke-free::before {
    content: 'smoke_free';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-smoking-rooms::before {
    content: 'smoking_rooms';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-spa::before {
    content: 'spa';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-cake::before {
    content: 'cake';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-domain::before {
    content: 'domain';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-group::before {
    content: 'group';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-group-add::before {
    content: 'group_add';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-location-city::before {
    content: 'location_city';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-mood::before {
    content: 'mood';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-mood-bad::before {
    content: 'mood_bad';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-notifications::before {
    content: 'notifications';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-notifications-active::before {
    content: 'notifications_active';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-notifications-none::before {
    content: 'notifications_none';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-notifications-off::before {
    content: 'notifications_off';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-notifications-paused::before {
    content: 'notifications_paused';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-pages::before {
    content: 'pages';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-party-mode::before {
    content: 'party_mode';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-people::before {
    content: 'people';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-people-outline::before {
    content: 'people_outline';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-person::before {
    content: 'person';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-person-add::before {
    content: 'person_add';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-person-outline::before {
    content: 'person_outline';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-plus-one::before {
    content: 'plus_one';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-poll::before {
    content: 'poll';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-public::before {
    content: 'public';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-school::before {
    content: 'school';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-sentiment-dissatisfied::before {
    content: 'sentiment_dissatisfied';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-sentiment-neutral::before {
    content: 'sentiment_neutral';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-sentiment-satisfied::before {
    content: 'sentiment_satisfied';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-sentiment-very-dissatisfied::before {
    content: 'sentiment_very_dissatisfied';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-sentiment-very-satisfied::before {
    content: 'sentiment_very_satisfied';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-share::before {
    content: 'share';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-whatshot::before {
    content: 'whatshot';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-check-box::before {
    content: 'check_box';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-check-box-outline-blank::before {
    content: 'check_box_outline_blank';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-indeterminate-check-box::before {
    content: 'indeterminate_check_box';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-radio-button-checked::before {
    content: 'radio_button_checked';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-radio-button-unchecked::before {
    content: 'radio_button_unchecked';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-star::before {
    content: 'star';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-star-border::before {
    content: 'star_border';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/etc/mixins/icons.scss:8 */
.md-icon-star-half::before {
    content: 'star_half';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:67 */
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local('Roboto Regular'), local('Roboto-Regular'), url("././resources/fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:75 */
@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: local('Roboto Light'), local('Roboto-Light'), url("././resources/fonts/roboto/Roboto-Light.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:84 */
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    src: local('Roboto Medium'), local('Roboto-Medium'), url("././resources/fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:93 */
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: local('Roboto Bold'), local('Roboto-Bold'), url("././resources/fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:102 */
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: italic;
    src: local('Roboto Italic'), local('Roboto-Italic'), url("././resources/fonts/roboto/Roboto-Italic.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:113 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("././resources/fonts/MaterialIcons-Regular.ttf") format('truetype');
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Component.scss:122 */
html,
body {
    font-family: 'Roboto', sans-serif;
    color: #111;
    color: var(--color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Indicator.scss:1 */
.x-indicator span {
    transition: background-color 0.25s ease-out, width 0.1s ease-out, height 0.1s ease-out;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/list/TreeItem.scss:1 */
.x-gridcell.x-treelist-item {
    border: none;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:10 */
.x-button-fab .x-inner-el {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.18), 2px 2px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    color: #222;
    color: var(--accent-foreground-color);
    display: flex;
    width: 56px;
    height: 56px;
    background-color: #87bd3e;
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:23 */
.x-button-fab .x-ripple {
    background-color: #222;
    background-color: var(--accent-foreground-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:27 */
.x-button-fab.x-hovered .x-inner-el {
    background-color: #abd276;
    background-color: var(--accent-pressed-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:31 */
.x-keyboard-mode .x-button-fab.x-focused .x-inner-el {
    background-color: #abd276;
    background-color: var(--accent-pressed-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:36 */
.x-big .x-button-fab .x-inner-el {
    border-radius: 50%;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:41 */
.x-button-fab .x-icon-el {
    color: #222;
    color: var(--accent-foreground-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:46 */
.x-button-fab.x-pressing .x-inner-el {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.21), 2px 2px 6px 0 rgba(0, 0, 0, 0.18);
    z-index: 3;
    background-color: #abd276;
    background-color: var(--accent-pressed-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:48 */
.x-button-fab.x-pressing .x-inner-el .x-icon-el {
    color: #222;
    color: var(--accent-foreground-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:57 */
.x-docked-top .x-has-badge .x-badge-el {
    top: -8px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Button.scss:63 */
.x-has-badge .x-badge-el {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Toolbar.scss:1 */
.x-toolbar-body-el {
    overflow: visible;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Toolbar.scss:6 */
.x-toolbar-body-el > .x-title {
    transition: 0.25s padding ease-out;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:3 */
.x-panelheader .x-field {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.38);
    border-bottom-color: var(--reverse-disabled-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:7 */
.x-panelheader .x-field .x-label-el {
    color: #87bd3e;
    color: var(--accent-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:11 */
.x-panelheader .x-field.x-focused {
    border-bottom-color: #87bd3e;
    border-bottom-color: var(--accent-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:17 */
.x-panelheader .x-input .x-cleartrigger .x-icon-el {
    color: #fff;
    color: var(--base-foreground-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:22 */
.x-panelheader .x-input .x-input-el {
    -webkit-text-fill-color: #fff;
    -webkit-text-fill-color: var(--base-foreground-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:28 */
.x-panelheader .x-toggleslider.x-on {
    background-color: #abd276;
    background-color: var(--accent-pressed-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/Panel.scss:32 */
.x-panelheader .x-toggleslider.x-on .x-thumb:after {
    background-color: #87bd3e;
    background-color: var(--accent-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/dataview/ItemHeader.scss:2 */
.x-itemheader.x-pinned {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
    z-index: 3;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/dataview/SimpleListItem.scss:1 */
.x-listitem-disclosure .x-icon-el {
    transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/dataview/IndexBar.scss:1 */
.x-indexbar-indicator {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.18), 2px 2px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/slider/Slider.scss:2 */
.x-slider .x-thumb {
    transition: transform 0.15s ease-out;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/slider/Slider.scss:5 */
.x-slider .x-thumb:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/slider/Slider.scss:9 */
.x-slider .x-thumb.x-disabled:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/slider/Toggle.scss:1 */
.x-toggleslider .x-thumb {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.12), 2px 2px 5px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-material/sass/src/slider/Toggle.scss:4 */
.x-toggleslider .x-thumb:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:1 */
.x-pivot-grid-group-icon {
    display: none;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:5 */
.x-pivot-grid-group-header-collapsible {
    cursor: pointer;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:6 */
.x-pivot-grid-group-header-collapsible .x-body-el,
.x-pivot-grid-group-header-collapsible .x-text-el {
    display: flex;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:11 */
.x-pivot-grid-group-header-collapsible .x-pivot-grid-group-icon {
    display: flex;
    margin: 0 6px 0;
    height: 18px;
    width: 18px;
    color: #b0b0b0;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:19 */
.x-big .x-pivot-grid-group-header-collapsible .x-pivot-grid-group-icon {
    height: 24px;
    width: 24px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/icon.scss:93 */
.x-pivot-grid-group-header-collapsible .x-pivot-grid-group-icon:before {
    content: 'expand_less';
    font-family: 'Material Icons';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/Grid.scss:35 */
.x-pivot-grid-group-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/icon.scss:93 */
.x-pivot-grid-group-header-collapsed .x-pivot-grid-group-icon:before {
    content: 'expand_more';
    font-family: 'Material Icons';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:2 */
.x-pivot-grid-config-column .x-dock {
    align-items: center;
    padding-right: 12px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:7 */
.x-pivot-grid-config-column .x-dock .x-pivot-grid-config-column-btn-move {
    margin-left: 12px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:11 */
.x-pivot-grid-config-column .x-body-el {
    flex: 1;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:16 */
.x-pivot-grid-config-column-btn {
    height: 16px;
    height: var(--content-padding);
    width: 16px;
    width: var(--content-padding);
    font-size: 16px;
    color: rgba(17, 17, 17, 0.38);
    color: var(--disabled-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:23 */
.prefix-big .x-pivot-grid-config-column-btn {
    font-size: 18px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:29 */
.x-pivot-grid-config-column-btn-delete {
    font-family: 'Material Icons';
    line-height: 1;
    color: #c62828;
    color: var(--alert-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-config-column-btn-delete:before {
    content: 'remove_circle';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:34 */
.x-pivot-grid-config-column-btn-move {
    font-family: 'Material Icons';
    line-height: 1;
    color: rgba(17, 17, 17, 0.38);
    color: var(--disabled-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-config-column-btn-move:before {
    content: 'reorder';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:39 */
.x-pivot-grid-config-column-btn-sort-asc {
    font-family: 'Material Icons';
    line-height: 1;
    color: rgba(17, 17, 17, 0.38);
    color: var(--disabled-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-config-column-btn-sort-asc:before {
    content: 'arrow_upward';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:44 */
.x-pivot-grid-config-column-btn-sort-desc {
    font-family: 'Material Icons';
    line-height: 1;
    color: rgba(17, 17, 17, 0.38);
    color: var(--disabled-color);
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-config-column-btn-sort-desc:before {
    content: 'arrow_downward';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Column.scss:50 */
.x-pivot-grid-config-column-filter .x-list-item-body {
    font-style: italic;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:1 */
.x-pivot-grid-config-container {
    border: solid #e1e1e1;
    border: solid var(--faded-color);
    border-width: 0;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:7 */
.x-pivot-grid-left-indicator {
    font-family: 'Material Icons';
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-left-indicator:before {
    content: 'arrow_forward';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:13 */
.x-pivot-grid-right-indicator {
    font-family: 'Material Icons';
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-grid-right-indicator:before {
    content: 'arrow_back';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:20 */
.x-pivot-drag-proxy-placeholder {
    z-index: 1000000!important;
    pointer-events: none;
    position: absolute;
    border: solid #e1e1e1;
    border: solid var(--faded-color);
    border-width: 1px;
    padding: 5px;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:30 */
.x-pivot-drag-proxy-placeholder-valid {
    color: green;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:31 */
.x-pivot-drag-proxy-placeholder-valid .x-pivot-drag-placeholder-icon {
    font-family: 'Material Icons';
    line-height: 1;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-drag-proxy-placeholder-valid .x-pivot-drag-placeholder-icon:before {
    content: 'check';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:36 */
.x-pivot-drag-proxy-placeholder-invalid {
    color: red;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:37 */
.x-pivot-drag-proxy-placeholder-invalid .x-pivot-drag-placeholder-icon {
    font-family: 'Material Icons';
    line-height: 1;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-theme-base/sass/etc/mixins/font-icon.scss:136 */
.x-pivot-drag-proxy-placeholder-invalid .x-pivot-drag-placeholder-icon:before {
    content: 'remove';
    font-feature-settings: 'liga';
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Container.scss:43 */
.x-drag-dragging {
    pointer-events: auto;
}
/* C:/Projects/SCD/Scd/Gdc.Scd.Web.Client/node_modules/@extjs/ext-react-pivot/modern/sass/src/pivot/plugin/configurator/Panel.scss:1 */
.x-pivot-grid-config-panel {
    border: solid #e1e1e1;
    border: solid var(--faded-color);
    border-width: 0;
}