<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
      <from name="[SCD Central Contract Group Import Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Import Central Contract Group" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>

  <connectionStrings>
    <!--<add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />-->
    <add name="CommonDB" connectionString="data source=intranetdb1;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />
    <add name="Partner_New" connectionString="Data Source=g02dedb01sadb.g02.fujitsu.local;Network Library=DBMSSOCN;User ID=SPDB_SAPImport;password=&quot;SPDB1=sap&quot;;Initial Catalog=Partner_New;Connect Timeout=30"/>
  </connectionStrings>
  <appSettings>
    <add key="Culture" value="de-DE" />
    <add key="Delimeter" value=";" />
    <add key="FileName" value="Central Contract Group to WG.csv" />
    <add key="FilePath" value="C:\Users\BorisovaE\Desktop" />
    <add key="ProcessedFilesPath" value="C:\Users\BorisovaE\Desktop\processed" />
    <add key="HasHeader" value="true" />
    <add key="Occurancy" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>