<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!--<add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />-->
    <!--<add name="CommonDB" connectionString="data source=10.10.154.195;initial catalog=SCD_2_test;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />
  </connectionStrings>
</configuration>


