<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- CD CS tool config -->
    <add key="SpServiceDomain" value="g02" />
    <add key="SpServiceAccount" value="zotovnext" />
    <add key="SpServicePassword" value="Bigfatrat32" />
    
    <add key="CalculatiolToolWeb" value="http://emeia.fujitsu.local/02/sites/p/Migration-GDC/" />
    <add key="CalculatiolToolList" value="Shared Documents" />
    <add key="CalculatiolToolFolder" value="/02/sites/p/Migration-GDC/Shared Documents/CD_CS calculation tool interface" />
    <add key="CalculatiolToolFileName" value="CalculationTool_CD_CS.xlsm" />
    <add key="CalculatiolToolInputFileName" value="Inputfile_CD_CS_All.xlsx" />
    <add key="ProActiveWgList" value="CD3,CD7,CS1,CS2,CS3,CS4" />
  </appSettings>
  <connectionStrings>
    <add name="CommonDB" connectionString="Data Source=(local)\mssqlserver2;Initial Catalog=Scd_2;Trusted_Connection=True;" />
    <!--<add name="CommonDB" connectionString="Data Source=(local)\MSSQLSERVER2;Initial Catalog=Scd_2;Trusted_Connection=True;" />-->
    <!--<add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
    <!--<add name="CommonDB" connectionString="data source=intranetdb1;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>