<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="Fujitsu.GDC.ErrorNotification">
            <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
        </sectionGroup>
    </configSections>

    <!-- Logging -->
    <Fujitsu.GDC.ErrorNotification>
        <mailNotification server="imrpool.fs.fujitsu.com" mode="test">
            <from name="[SCD Import AMBER ROAD Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
            <test to="evgenia.borisova.gdc@ts.fujitsu.com" />
            <live to="WAS_Eventlog@ts.fujitsu.com" />
            <application name="SCD" product="Import AMBER ROAD" loglevel="warning,error" />
        </mailNotification>
    </Fujitsu.GDC.ErrorNotification>

    <connectionStrings>
        <!--<add name="CommonDB" connectionString="data source=intranetdb1;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />
      <add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />
      <add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
        <add name="CommonDB" connectionString="data source=intranetdb1;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>