<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
     <sectionGroup name="Fujitsu.GDC.ErrorNotification">
      <section name="mailNotification" type="Fujitsu.GDC.ErrorNotification.MailNotificationSection, Fujitsu.GDC.ErrorNotification" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  <!-- Logging -->
  <Fujitsu.GDC.ErrorNotification>
    <mailNotification server="mail.fsc.net" mode="test">
      <from name="[SCD Import POR Test] Exception" address="scd-noreply@ts.fujitsu.com"></from>
      <test to="nikita.zotov.gdc@ts.fujitsu.com" />
      <live to="WAS_Eventlog@ts.fujitsu.com" />
      <application name="SCD" product="Import POR" loglevel="warning,error" />
    </mailNotification>
  </Fujitsu.GDC.ErrorNotification>
    
    <connectionStrings>
      <add name="FrieseEntities" connectionString="metadata=res://*/DataAccessLayer.FrieseModel.csdl|res://*/DataAccessLayer.FrieseModel.ssdl|res://*/DataAccessLayer.FrieseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=G02DEDB02CSQLI.g02.fujitsu.local;initial catalog=friese;persist security info=True;user id=SCD_user;password=scd1scd*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <add name="CommonDB" connectionString="Data Source=(local);Initial Catalog=Scd_2;Trusted_Connection=True;" />
      <!--<add name="CommonDB" connectionString="data source=10.10.154.195;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
      <!--<add name="CommonDB" connectionString="data source=abgisdb01a.abg.fsc.net;initial catalog=SCD_2;User ID=SCDadmin;Password=pD8a!fw_d;" />-->
  </connectionStrings>
  <appSettings>
    <add key="HWServiceTypes" value="HW B&amp;F Service;HW B&amp;F Service Prolongation" />
    <add key="ProActiveTypes" value="HW Proactive Service;HW Proactive Service Prolongation" />
    <add key="StandardWarrantyTypes" value="Standard Warranty" />
    <add key="HwHddServiceType" value="HDD Retention Service" />
    <add key="SoftwareTypes" value="Software/Solution Support Service;Software/Solution Support Service Prolongation;Solution Support Service;Solution Support Service Prolongation" />
    <add key="SolutionIdentifier" value="SOL"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>